[Unit]
Description=WRO Robot Button Daemon
After=multi-user.target

[Service]
Type=simple
User=kalina
WorkingDirectory=/home/kalina/techpixies_wro_2026/src/raspberry_pi
ExecStart=/home/kalina/techpixies_wro_2026/src/raspberry_pi/bin/python system/button_daemon.py
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
